/* css here */

{
  border: 1px dotted black;
}

.question {
  font-family: Arial, sans-serif;
	  font-size:20px;
  color: #2E2E2E;
  margin-bottom:0px;
  padding-left: 50px;
}

h2.quizHeader {
  font-family: Arial, sans-serif;
  font-weight:normal;
  font-size:25px;
  line-height: 27px;
  margin: 24px 0 12px 0;
  padding: 0 0 4px 0;
  border-bottom: 1px solid #a2a2a2;
}

h2.quizScore{
  font-family: Arial, sans-serif;
  font-size:25px;
}

div.quizAnswers{
  font-family: Arial, sans-serif;
  font-size:16px;
  color: #424242;
  padding: 4px 0 4px 0;
}

label {
  font-family: Arial, sans-serif;
  font-size:17px;
  color: #424242;
  vertical-align:top;
}

input.answer[type="radio"] {
  margin-bottom: 10px;
  width: 20px;
  height: 20px;
  
}

input.quizSubmit[type="submit"] {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-transition-delay: 0s, 0s;
  -webkit-transition-duration: 0.2s, 0.2s;
  -webkit-transition-property: color, background-color;
  -webkit-transition-timing-function: ease, ease;
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 5px 0px;
  color: #ffffff;
  background-color: #c30b0a;
  margin: 0;
  border: 0;
  outline: 0;
  text-transform:uppercase;
  height:35px;
  width:85px;
  border: 1px solid #5E5E5E;
  border-radius:5px;
  
 }

input.quizSubmit[type="submit"]:hover {
  color: #ffffff;
  background: #680f11;
  text-decoration: none;
}

table {
  background-color: rgba(46, 187, 234, 0.3);
	  border:1px solid #BDBDBD;
  border-radius:5px;
  padding-left:5px;
	padding-right:7px;
  box-shadow: rgba(0, 0, 0, 0.498039) 1px 0px 1px 0px;
  
}

th {
  
}

tr {
  
}

td {

}

.submitter {
	  width:85px;
}

.hide {
	  display:none;
}


/*SFS light red = #c30b0a;
SFS dark red = #9f2026; */
.follow img {
    width: 100%; /*stays 100% of width of page*/
    max-width: 400px; /*Never gets bigger than 400px on desktop */
}
.not {
	position: center;
	 bottom:20px;
    left:0;
    text-align:center;
	background-color: rgba(46, 187, 234, 0.3);
	  border:1px solid #BDBDBD;
	  box-shadow: rgba(0, 0, 0, 0.498039) 1px 0px 1px 0px;
	  width: 90%; /* Will be 90% of screen width */
       padding: 0px 10px; /* Gives some spacing on the left and right side between the content of the box (the text) and box itself */
       margin-top: 30px; /*I had you get rid of the <br> tags so adding a margin-top class to the div will create the space you wanted */
	  }

.bg { 
	position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:url('front.png') 0 0, url('middle.png') 40% 0, url('back.png') 80% 0, #000;
  -webkit-animation: moving-images 400s ease infinite;
     -moz-animation: moving-images 400s ease infinite;
       -o-animation: moving-images 400s ease infinite;
          animation: moving-images 400s ease infinite;
			}
.my_content{
    position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
         }
			@keyframes moving-images {
  0%   {left:0;}
  50%  {left:-9999px;}
  100% {left:0;}
}
        
@-moz-keyframes moving-images {
  0%   {left:0;}
  50%  {left:-9999px;}
  100% {left:0;}
}
@-webkit-keyframes moving-images {
  0%   {left:0;}
  50%  {left:-9999px;}
  100% {left:0;}
}
@-o-keyframes moving-images {
  0%   {left:0;}
  50%  {left:-9999px;}
  100% {left:0;}
}  
			P {
				font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
				font-weight: bold;
			}
			h2 {
				font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
			}
.follow {
	overflow: hidden;
  top: 0;
  width: 100%;
}
a {
  text-decoration: none;
  color: #e216bd;
  display: block;
  transition: .3s background-color;
  text-decoration: underline;
}
 
a:hover {
  color: blue;
}
 
a.active {
  color: #e216bd;
  cursor: default;
  text-decoration: underline;
}
.button {
   border: 2px solid #000000;
   background: #bd4454;
   background: -webkit-gradient(linear, left top, left bottom, from(#d42ef5), to(#bd4454));
   background: -webkit-linear-gradient(top, #d42ef5, #bd4454);
   background: -moz-linear-gradient(top, #d42ef5, #bd4454);
   background: -ms-linear-gradient(top, #d42ef5, #bd4454);
   background: -o-linear-gradient(top, #d42ef5, #bd4454);
   background-image: -ms-linear-gradient(top, #d42ef5 0%, #bd4454 100%);
   padding: 8.5px 17px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #395b70 0 1px 0;
   color: #e5d1eb;
   font-size: 20px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   width: 60px;
   }
.button:hover {
   border: 2px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #0d0a4f;
   background: -webkit-gradient(linear, left top, left bottom, from(#0e588a), to(#0d0a4f));
   background: -webkit-linear-gradient(top, #0e588a, #0d0a4f);
   background: -moz-linear-gradient(top, #0e588a, #0d0a4f);
   background: -ms-linear-gradient(top, #0e588a, #0d0a4f);
   background: -o-linear-gradient(top, #0e588a, #0d0a4f);
   background-image: -ms-linear-gradient(top, #0e588a 0%, #0d0a4f 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 2px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#0d0a4f));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
   }
